@font-face {
    font-family: breathOfFireIII;
    src: url(fonts/BreatheFireIii-PKLOB.ttf);
}

@font-face {
    font-family: breathOfFire;
    src: url(fonts/BreatheFire-65pg.ttf);
}

@font-face {
    font-family: eagleLake;
    src: url(fonts/EagleLake-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
    background-image: url(images/brown-brick-wall-surface-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.base-container {
    display: grid;
    grid-template-areas:
    'header section'
    'main section';
    gap: 16px;
    background-image: url(images/wooden-floor-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 90svh;
    border-radius: 8px;
    padding: 20px;

}

#title {
    grid-area: header;
    text-align: center;

}

h1 {
    font-family: breathOfFireIII;
    font-size: 100px;
}

#title p {
    font-family: eagleLake;
    font-size: 24px;
}

#register {
    grid-area: main;
    /*background-color: chocolate;*/
    text-align: center;
    font-family: eagleLake;
    padding: 10px 10px 10px 10px;
}

#register h2 {
    font-family: breathOfFire;
    font-size: 36px;
}



form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#log {
    overflow: auto;
    grid-area: section;
    display: grid;
    grid-template-areas: 1fr;
    justify-content: space-evenly;
    gap: 20px;
    font-family: breathOfFire;
    font-size: 60px;
    text-align: center;    
}
